@charset "UTF-8";

body{
    width: 99.35%;
    margin: auto;
    padding: 0px;
    background-color: rgb(230, 230, 230);
    position: absolute;
    
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    margin: 0px 0px 30px 0px;
    padding: 4px 3px ;
    border-bottom: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 100, 100);
    align-items: center;
}
a > img { /*logo*/
    padding-top: 5px;
    width: 115px;
}
nav > a, span{
    text-decoration: none;
    font-weight: 600;
    font-size: 15pt;
    color: #1FFFFF;
    margin: 0px 0px 0px 18px;
    line-height: 27px;
    padding: 20px 0px;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.753);
}
header > nav > span > div{
    display: none;
}
nav {
    padding-right: 20px;
}
header > nav > span:hover > div{ /*aparecer o menu quando passar o mouse por cima*/
    display: block;
    background-color: white;
    position: absolute;
    color: black;
    text-decoration: none;
    width: 250px;
    height: auto;
    padding: 10px;
    box-shadow: 10px 0px 40px rgba(0, 0, 0, 0.40);
    border-radius: 10px;
    margin: auto;
    z-index: 1;
}
header > nav > span:hover{
    background-color: rgb(255, 118, 118);
    color: #04B3B3;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.507);
}
header > nav > span:hover > div > a  {
    color: black;
    background-color: white;
    text-decoration: none;
}
header > nav > span:hover > div > a:hover{
    text-decoration:underline;
}




main{
    width: 100%;
    max-width: 99%;
    height: auto;
    padding: 0px;
    margin: auto;
}
#destaques{
    width: 80%;
    max-width: 1000px;
    height: auto;
    min-height: 100px;
    border: 1px solid rgb(255, 0, 0);
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}
#foto-banner {
    width: 100%;
    max-width: 1000px;
    min-width: 200px;
    height: auto;
    margin: auto;
}
#botoes{
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    min-height: 200px;
    max-height: 400px;
    position: absolute;
    padding: 0px;
    margin: 0px;
    align-items: baseline;
}
.botao-controle{
    font-size: 50pt;
    background-color: transparent;
    color: white;
    border: none;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.685);
    padding: 0px 3px;
    margin: 0px;
}
.botao-controle:hover{
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.952);
    font-size: 60pt;
}
.escolhidos{
    width: 100%;
    margin: 45px 0px;
    padding: 0px;
    background-color: white;
}
h1 {
    font-size: 2em;
    margin: 10px;
    padding-left: 4.5%;
}
.lista-escolhidos{
    width: 90%;
    max-width: 1500px;
    height: 500px;
    border: none;
    overflow-x: scroll;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.151); 
}
.produtos-escolhidos{
    width: 450px;
    min-width: 150px;
    height: 470px;
    margin: 0px 200px 0px 10px;
}
.foto-escolhida{
    width: 350px;
    max-width: 400px; 
    height: 475px;
    border-radius: 10px;
    margin: 0px;
}
#categorias{
    width: 99%;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(20, 20, 20);
    color: white;
    margin: auto;
}
#nomes-categorias{
    display: flex;
    text-align: center;
    margin: auto;
    width: 97%;
    font-size: 1.4em;
}
#nomes-categorias > div, ul{
    margin: 0px 20px;
    text-align: center;
    list-style-type: none;
    text-indent: none;
}
li{
    margin: 5px 0px 5px -30px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.089);
}
li:hover {
background-color: rgb(40,40,40);
}
a{
    text-decoration: none;
    color: #9DFF2B;
}
a:hover{
    text-decoration: underline;
}


footer{
    border-top: 1px solid rgb(40,40,40);
    width: 100%;
    margin: 25px 0px 0px 0px;
    padding: 20px 0px 10px 0px;
    text-align: center;
    font-size: 1.3em;
    color: #72B327;
}
.icon-instagram{
    background-image: radial-gradient(#ff7b00f6, #fffb00, #880cec 77%);
    border-radius: 8px;
}
footer > div > a{
    margin: 5px 10px;
    color: rgb(133, 133, 255);
}
footer > div{
    margin: 5px 0px 10px 0px;
}

/*Barra de rolagem*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    padding: 2px;
}
::-webkit-scrollbar:hover{
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #1FFFFF; 
    border-radius: 10px;
}
    
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #04B3B3; 
}

@media max{}
